#imgServices {
    width: 500px;
    height: 333px;
    background-image: url('./../assets/img/bg_services.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;

}

.mask-custom {
    mask-image: linear-gradient(to bottom, transparent, #000),
        linear-gradient(to bottom, #000, transparent), linear-gradient(to bottom,
            transparent,
            #000), linear-gradient(to bottom, #000, transparent), linear-gradient(to bottom, transparent, #000);
    mask-size: 18% 70%;
    mask-position: 0 100%, 25% 25%, 50% 50%, 75% 0, 100% 50%;
    mask-repeat: no-repeat;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}