.card-style {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 60px;
    border-radius: 35px;
    overflow: hidden;
    line-height: 1.6;
    border: 1px solid #11385b;
}
