.sectionTitle {
  font-size: 40px;
  color: #11385b;
}

.stitlesP {
  font-size: 20px;
  text-align: justify;

}

/* Footer.css */
.footer-container {
  background-color: #11385b;
  color: #fff;
  padding: 30px 0;
}

.footer-column {
  margin-bottom: 20px;
}

.footer-column h3 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 15px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}





