#contact-container {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #f0292c;
    margin-bottom: 70px;
    padding-bottom: 30px;
    
}

#contact{
    background: rgba(255, 250, 235, 0.15);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.5px);
    -webkit-backdrop-filter: blur(0.5px);
    /* border: 1px solid #fee089; */
}

#h1 {
    color: #FEC53A;
}

.btn-contact {
    background-color: #fec53a;
}

.btn-contact:hover {
    background-color: #FEC53A;
}

.form-floating input {
    color: #FEC53A;
    border: 0;
    border-bottom: 2px solid #FEC53A;
    background: transparent;
    border-radius: 0;
    width: 100%;
}

.form-floating input:focus {
    background-color: #11385B;
    color: #FEC53A;
    border-color: #FEC53A;
}

.form-floating textarea {
    color: #FEC53A;
    border: 0;
    border-bottom: 2px solid #FEC53A;
    background: transparent;
    border-radius: 0;
    width: 100%;
}

.form-floating textarea:focus {
    color: #FEC53A !important;
    background-color: transparent;
    border-color: #FEC53A;
}

.formContactLabels {
    color: #FEC53A !important;
}

.formContactLabels:focus {
    color: #FEC53A !important;
    background-color: transparent;
}

.formContactLabels::after {
    color: #FEC53A !important;
    background-color: transparent !important;
}

.formDivContInput {
    outline: none;
}

.formDivContInput:focus-visible {
    outline: none !important;
}