#contact-container{
    background-color: #11385B;
    width: 100%;
    height: auto;
} 

#contact {
    width: 100% !important;
    background-image: url('/src/assets/img/polygon-scatter-haikei.svg');
    background-repeat: no-repeat;
    background-size: cover;

}

#h1 {
    color: #FEC53A;
}

.btn-contact {
    background-color: #fec53a;

}

.btn-contact:hover {
    background-color: #FEC53A;
}

.form-floating input {
    color: #FEC53A;
    border: 0;
    border-bottom: 2px solid #FEC53A;
    background: transparent;
    border-radius: 0;
    width: 100%;
}

.form-floating input:focus {
    background-color: #11385B;
    color: #FEC53A;
    border-color: #FEC53A;

}

.form-floating textarea{
    color: #FEC53A;
    border: 0;
    border-bottom: 2px solid #FEC53A;
    background: transparent;
    border-radius: 0;
    width: 100%;
}

.form-floating textarea:focus{
    color: #FEC53A !important;
    background-color: transparent;
    border-color:#FEC53A;
}


.formContactLabels {
    color: #FEC53A !important;
}

.formContactLabels:focus {
    color: #FEC53A !important;
    background-color: transparent;
}
.formContactLabels::after {
    color: #FEC53A !important;
    background-color: transparent !important;
}


.formDivContInput {
    outline: none;
}

.formDivContInput:focus-visible {
    outline: none !important;
}