#loadingContainer {
    width: 100vw;
    height: 100vh;
    background-color: #fec53a;
    transition: opacity .3s;
    opacity: 1;
    animation: loader 1s linear infinite;
}

#loadingContainer.hideLoading{
    opacity: 0;
    z-index: -1;
    animation: loader 1s linear infinite;
}